<!DOCTYPE html>
<html ng-app="application" ng-cloak>
<head>
    <title>Streamline</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'/>
    <link href="css/layout.css" media="screen" rel="stylesheet"/>
    <link href="css/theme.css" media="screen" rel="stylesheet"/>
</head>
<body>
    <header>
        <h1>Streamline</h1>
    </header>
    <section id="arena" ng-controller="Arena">
        <canvas id="mainCanvas" width="1200" height="600">
            Your browser is too old for this game. <a href="http://www.google.com/chrome">Time to upgrade.</a>
        </canvas>
        <canvas id="highCanvas" width="1200" height="600"></canvas>
        <p class="coords">
            <strong>{{ game.arena.cursor.x }}</strong> , <strong>{{ game.arena.cursor.y }}</strong>
        </p>
    </section>
    <section id="controls" ng-controller="Controls">
        <section>
            <h2>Welcome to Streamline!</h2>
            <dl>
                <dt>Game-Seconds Elapsed: <strong>{{ game.secondsElapsed }}</strong></dt>
                <dt>FPS: <strong>{{ game.framesPerSecond }}</strong></dt>
                <dt>Frame Count: <strong>{{ game.frames }}</strong></dt>
                <dt>Frames Dropped: <strong>{{ game.framesDropped }}</strong></dt>
                <dt>Global Tick: <strong>{{ game.ticks }}</strong></dt>
                <dt>Local/Server Offset: <strong>{{ game.localServerOffset }}</strong> ms</dt>
                <dt>Stream Pixels: <strong>{{ game.objects.streams.length }}</strong></dt>
            </dl>
        </section>
        <section>
            <button ng-click="buildGate('left')">Left Gate</button>
            <button ng-click="buildGate('down')">Down Gate</button>
            <button ng-click="buildGate('up')">Up Gate</button>
            <button ng-click="buildGate('right')">Right Gate</button>
        </section>
    </section>
    <SCRIPT src="PHP/ServerDate.php"></SCRIPT>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script> <!-- Firebase -->
    <script src="app/app.js"></script>
    <script src="arena/arena.js"></script>
    <script src="canvas/canvas.js"></script>
    <script src="controls/controls.js"></script>
    <script src="game/game.js"></script>
    <script src="game/objects.js"></script>
    <script src="js/vendor/seedrandom.js"></script>
</body>
</html>